{% extends 'base.html' %}

{% load static %}

{% block content %}
    <form action="/posts/" method="get">
    {{ form.as_p }}
    <button type="submit">Search</button>
    </form>
    {% for post in posts %}
        <div class="card" style="width: 18rem;">
        {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
            {% else %}
                <img src="{% static 'placeholder.jpg' %}" alt="">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <p class="card-text">{{ post.rate }}</p>
                <p class="card-text">{{ post.created_at }}</p>
                <p class="card-text">{{ post.updated_at }}</p>
                <a href="/posts/{{post.id}}" class="btn btn-primary">Go to post</a>
            </div>
        </div>
    {% endfor %}
    <div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px">
    {% for i in max_pages %}
        {% if request.GET  %}
            <a class="btn btn-primary" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ i }}">{{ i }}</a>
        {% else %}
            <a href="/posts/?page={{ i }}" class="btn btn-primary">{{ i }}</a>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}